{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Регистрация</title>
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </head>
    <body>
        <div class="header">
            <img src="{% static 'img/dpb-logo.png' %}" />
        </div>
        <div class="content">
            <h1>Регистрация</h1>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Имя пользователя" value="{{ username }}">
                <input type="email" name="email" placeholder="Email" value="{{ email }}">
                <input type="password" name="password" placeholder="Пароль">
                <input type="password" name="password2" placeholder="Повторите пароль">
                <input type="submit" value="Зарегистрироваться">
            </form>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <p>Уже есть аккаунт? <a href="/login/">Войти</a></p>
        </div>
    </body>
</html>